@import url('https://fonts.googleapis.com/css?family=Comfortaa');

*{
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    font-family: 'Comfortaa', cursive;
}

.wrapper{
    position:absolute;
    top: 50%;
    Left: 50%;
    transform: translate(-50%,-50%);
    max-width: 550px;
    width: 100%;
    padding: 15px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
}

.wrapper .input{
    width: 85%;
    padding : 15px 20px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
}

.searchbtn{
    background: #cecbb2;
    width : 10%;
    position : relative;
    cursor: pointer;
}

.searchbtn .fas{
    position : absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 18px;
}

.aligncenter {
    text-align:center;
}

.verticalcenter {
    display: table-cell;
    height: 100px;
    vertical-align: middle;
}
